.Padre{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px;
}


.contenedor {
    background-color: gray;
      /* display: flex; /*al contenedor lo deja del tamaño de la página */
      /* display: inline-flex; ajusta al contenedor al tamaño de la cantidad de cajas */
      /* flex-direction: row; viene por defecto */
     /* flex-direction: row-reverse; */
     flex: 25 px;
     padding: 5px;
     display: inline-flex;
     align-items: center;

}
.item4{
  border: solid;
  color: red;
  cursor: pointer;
}
.item4:hover {
  background-color: orangered;
  transform: scale(1) rotate(90deg);
}
.item1{
  border: solid;
  color: red;
  cursor: pointer;
}
.item1:hover {
  transform: scale(1.5);
}
.item2{
  border: solid;
  color: blue;
  cursor: pointer;
}
.item2:hover {
  background-color: yellowgreen;
  transform: scale(1.5);
}
.item3{
  border: solid;
  color: red;
  cursor: pointer;
}
.item3:hover {
  background-color: orangered;
  border-radius: 10px;
  transform: scale(1.5);
}
